<div class="container posts-page"><div class="post row" ng-repeat="(postId, post) in posts"><!-- 1994: Empty spacer GIF.
         2014: Empty Bootstrap column. --><!-- Recall:  xs=small screens, md=medium screens.
                   Below:

                   xs: 1 + 11 = 12
                   md: 9 + 2 = 11 ??
    --><div class="col-xs-1"></div><div class="col-md-9 col-xs-11"><div class="row"><h2><a ng-href="{{post.url}}">{{ post.title }}</a></h2><a class="btn btn-primary btn-xs" ng-href="#/posts/{{postId}}">Comments</a> <a class="btn btn-danger btn-xs" ng-click="deletePost(postId)">Delete</a> <span class="text-muted">(via {{ post.url | hostnameFromUrl }})</span></div><div class="col-md-2"></div></div></div></div>