<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand"></a>
  </div>

  <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
        <input type="text" class="form-control" placeholder="URL" ng-model="post.url">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">

      <li><a ng-href="#/register" ng-hide="signedIn()">Register</a></li>
      <li><a ng-href="#/login" ng-hide="signedIn()">Sign In</a></li>

      <li><a href="#" ng-click="logout()" ng-show="signedIn()">Sign Out</a></li>
    </ul>
  </div>
</nav>